<div class="footer">
    <div class="row">
        <div>
            <p><small><a href="https://ilanopat.github.io"></a></small></p>
            <p><small>Find me on:</small></p>
            <p><small><a href="https://patriciailano.wordpress.com/">WordPress</a></small></p>
            <p><small><a href="https://github.com/ilanopat/">Github</a></small></p>
            <p><small><a href="https://twitter.com/ilanopat">Twitter</a></small></p>
            <p><small><a href="https://www.linkedin.com/in/ilanopat/">Twitter</a></small></p>
            <p><small><a href="mailto:ilanopat@gmail.com">Email</a></small></p>
        </div>
    </div>
    <div class="footer-copyright">
            <div class="container">
            © 2018 ilanopat
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
</div>