<div class="navbar-fixed">
    <nav class="white blue-text z-depth-0">
        <div class="container container-large">
        <a href="/" class="brand-logo blue-text"><span class="light blue-text">{{ site.logo }}</span></a>
        <ul class="right hide-on-med-and down">
            <li><a href="/blog" class="blue-text">Blog</a></li>
            <li><a href="/cv" class="blue-text">CV</a></li>
            <li><a href="/portfolio" class="blue-text">Portfolio</a></li>
            <li><a href="/references" class="blue-text">References</a></li>
        </ul>
        </div>
    </nav>
    <ul id="slide-out" class="sidenav">
        <li><a class="blue-text" href="/">{{ site.logo }}</a></li>
        <li><a class="blue-text" href="/blog">Blog</a></li>
        <li><a class="blue-text" href="/cv">CV</a></li>
        <li><a class="blue-text" href="/portfolio">Portfolio</a></li>
        <li><a class="blue-text" href="/references">References</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger right blue-text"><i class="material-icons">menu</i></a>
</div>
