
    <meta charset="utf-8">
    <link type="text/css" href="/css/style.css" rel="stylesheet" media="screen,projection">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta property="og:url" content="{{site.url}}{{page.url|remove_first:'index.html'}}">
    <meta property="og:site_name" content="ilanopat.github.com">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    {% if page.title %}
    <meta property="og:title" content="{{page.title}}">
    {% endif %}

    {% if site.title %}
    <title>{{site.title}}</title>
    {% endif %}
    
    {%if page.description%}
    <meta name="description" content="{{page.description}}">
    <meta name="og:description" content="{{page.description}}">
    {%else if page.excerpt %}
    <meta name="description" content="{{page.excerpt | strip_html | truncatewords: 25}}">
    {% endif %}

    {% if page.og_image_url %}
    <meta property="og:image" content="{{page.og_image_url}}">
    {% else if page.photo_url %}
    <meta property="og:image" content="{{page.photo_url}}">
    {% endif %}

    {% if page.date %}
    <meta property="og:type" content="article">
    <meta property="article:published_time" content="{{page.date | date: "%Y-%m-%d"}}">
    {% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

