---
layout: default
blog: active
---

<div class="container">
    <article class="post-item">
        <section class="post-headline">
            <center><h4 class="post-title">{{page.title}}</h4>
            <h5 class="date"><info datetime="{{page.date}}">
                {{page.date | date_to_string}} {% if page.author %} by {{ page.author }} {% endif%}
        </info></h5>
    </center>
        </section>
        <section class="post-content">
            {{ content }}
        </section>
    </article>
    <hr>
        <section class="post-sub row" style="font-size: 13px;font-weight: bold;line-height: 1.4;border-top: 1px solid #eee;padding-top: 40px;margin-bottom: 40px;padding-bottom: 40px;margin-top: 40px;color: #444;border-bottom: 1px solid #eee;">
            <div class="post-author">
            <a href="/">
            <img style="height: 70px;width: 70px;float: left;margin-top: 3px;margin-right: 20px;box-shadow: 0 0 0 3px #fff, 0 0 0 4px #eee;" class="circle responsive-img" alt="Patricia Anne Ilano" src="https://patriciailano.files.wordpress.com/2017/10/rnqpuaql_400x400.jpg">
            <span style="display:block;">{{site.owner.name}}</span>
            <span style="display:block;">{{site.description}}</span>
            <div class="post-sharing" style="float:right;">
                {% include sharing.html %}
            </div>
        </div>
        </a>
    </section>
        
        <div class="blogcomments">
            {% include disqus.html %}
        </div>
    </div>
