---
layout: default
blog: active
---

<div class="post-list">
    <article class="post-item">
        <section class="post-headline">
            <h1 class="post-title">{{page.title}}</h1>
            <h2 class="date"><info datetime="{{page.date}}">
                {{page.date | date_to_string}} {% if page.author %} by {{ page.author }} {% endif%}
        </info></h2>
        </section>
        <section class="post-content">
            {{ content }}
        </section>
    </article>
        <section class="post-sharing"> 
            {% include sharing.html %}
        </section>
        <hr>
        <section class="post-author">
            <img class="responsive-img" alt="Patricia Anne Ilano" src="https://patriciailano.files.wordpress.com/2017/10/rnqpuaql_400x400.jpg?w=200&amp;h=200">
            <p>{{site.name}}</p>
            <p>{{site.description}}</p>
        </section>
        <hr>
        <section class="post-comments">
            {% include disqus.html%}
        </section>
    
</div>